{% extends 'base.html.twig' %}

{% block title %}Symfony Articles{% endblock %}

{% block body %}
    <h1 class="mt-2">Articles</h1>
    <div class="container">
        {% if articles %}
            <div id="accordion">
                {% for article in articles %}
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link acc_collapse" data-toggle="collapse"
                                    data-target="#collapse_{{ article.id }}" aria-expanded="true" aria-controls="collapse_{{ article.id }}">
                                {{article.title}}
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapse_{{ article.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                {{ article.body }}
                                <div class="float-right mb-3">
                                    <a href="/article/{{ article.id }}" class="btn btn-primary">Show</a>
                                    <a href="/article/edit/{{ article.id }}" class="btn btn-info">Edit</a>
                                    <a href="#" class="btn btn-danger delete-article" data-id="{{ article.id }}">Delete</a>
                                </div>
                            </div>
                          </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                No Articles Found!
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}